<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header class="navigation">
            <div class="logo">
                <a href="/"><img src="/assets/logo.png" alt="Foodfy"></a>
            </div>
        </header>
            {% block content %} {% endblock %}
    </body>
    </html>